// utility classes
*{
    font-family: 'Roboto', sans-serif;
}

$maincolor: #32bea6;

.custom-button{
    margin: 10px;
    background: $maincolor;
    border-color: $maincolor;
    color: #fff;

    a{
        color: #fff;
    }

    &:hover{
        a{
            color: #fff;
        }
    }
}

#main-nav{
    background: $maincolor;
    color: #fff;
    box-shadow: none;

    a{
        color: #fff;

        img{
            vertical-align: -14px;
            margin-right: 2px;
            width: 50px;
            border-radius: 50%;
        }
    }
}

#dropp{
    background: $maincolor;
}

.custom-h1{
    color: $maincolor;
}

.custom-img {
    width: 50%;
}

.custom-select{
    width: 320px;
    margin-left: 7px;

    option:hover{
        background: $maincolor;
        color: #fff;
    }
}

// jumbotron
.jum{
    background: $maincolor;
    padding-top: 20px;
    text-align: center;
    color: #fff;

    img{
        height: 350px;
        margin: 0 200px 0 420px;
    }
}

// show
.doctor-card{
    position: relative;
    padding: 40px;

    #user_id {
       display: none;
    }

    img{
        width: 200px;
        border-radius: 50%;
        border: 4px solid #dfdfdf;
    }
    .card-title{
        margin-top: 40px;
    }
    #specs{
        margin-bottom: 30px;
    }
    .card-text{
        margin: 2px 0;
        font-size: 14px;

        strong{
            font-size: 18px;
            margin-right: 5px;
        }
    }
    button{

        a{
            color: #fff;

            &:hover{
                color: #fff;
            }
        }

        &:hover{
            background: $maincolor;
            border-color: $maincolor;
        }
    }
}

.b-absolute{
    position: absolute;
    top: 20px;
    right: 20px;
}

// footer
footer{
    text-align: center;
    background: $maincolor;
    padding: 20px 0;

    a{
        color: #fff;

        &:hover{
            color: #fff;
        }

    }
}


