// colors
$maincolor: #01c2a5;
$maincolorrgba: rgba(1, 194, 165, 0.1);
$deletecolor: #d0211c;

// utility classes
* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.layout {
    min-height: 100vh;

    > main {
        min-height: calc(78vh - 20px);
    }
}

table {
    margin-top: 20px;
}

.sponsor-check {
    color: $maincolor;
}

.logged {
    color: $maincolor;
    font-size: 10px;
    vertical-align: middle;
}

.dash-services {
    width: 200px;

    &:hover {
        color: $maincolor;
        border-color: $maincolor;
    }
}

.inline-b {
    display: inline-block;
}

.custom-h1 {
    color: $maincolor;
    margin-top: 20px;
    font-weight: bold;
}

.title {
    color: $maincolor;
    font-size: 26px;
    padding: 20px 0;
    font-weight: bold;
}

.user-image {
    border-radius: 50%;
    width: 165px;
}

.img-col {
    width: 200px;
    text-align: center;
}

.card {
    padding: 20px;
}

.evidence-card {
    display: flex;
    flex-wrap: wrap;

    a {
        color: inherit;
        text-align: center;

        &:hover {
            text-decoration: none;
            color: $maincolor;
        }
    }

    .card {
        text-align: center;
        width: 205px;
        margin: 5px 10px 10px 0;
        min-height: 300px;
    }

    .doctor-name {
        margin: 30px 0 10px 0;
    }
}

.custom-button {
    margin: 5px 5px 5px 0;
    background: $maincolor;
    border: 2px solid $maincolor;
    font-size: 15px;
    color: #fff;

    a {
        color: #fff;
    }

    &:hover {
        color: $maincolor;
        background: #fff;

        a {
            color: $maincolor;
        }
    }
}

.button-none {
    border: none;
    background: none;
    color: $maincolor;
    font-size: 16px;

    a {
        color: $maincolor;
    }

    &:hover {
        font-weight: bold;
    }
}

.delete {
    background: $deletecolor;
    border-color: $deletecolor;

    &:hover {
        background: #fff;
        color: $deletecolor;
    }
}

.custom-select {
    width: 320px;
    margin-left: 7px;

    option:hover {
        background: $maincolor;
        color: #fff;
    }
}

#main-nav {
    background: $maincolor;
    color: #fff;
    box-shadow: none;
    height: 12vh;

    .navbar-brand {
        font-weight: bold;
        letter-spacing: 1px;
    }

    a {
        color: #fff;

        img {
            vertical-align: -14px;
            margin-right: 2px;
            width: 50px;
            border-radius: 50%;
        }
    }

    .nav-right {
        font-size: 18px;

        .nav-item-guest:hover,
        .nav-item-user:hover {
            font-weight: bold;
        }
    }

    #dropp {
        background: #fff;
        color: #000;

        &:hover {
            color: $maincolor;
            font-weight: bold;
        }
    }
}

// jumbotron
.jum {
    background: $maincolor;
    height: 380px;

    &-container {
        position: relative;
        height: 380px;
    }

    &-left {
        position: absolute;
        bottom: 120px;

        .jum-title {
            color: #fff;
            font-size: 30px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        select {
            cursor: pointer;
            display: inline-block;
            color: $maincolor;
            width: 80%;

            &:focus {
                color: $maincolor;
            }

            option:hover {
                background: $maincolor;
                color: #fff;
            }
        }

        .search {
            font-size: 19px;
            width: 17%;
            text-align: center;
            display: inline-block;

            &:hover {
                color: #fff;
                font-weight: bold;
                background-color: $maincolor;
                transform: scale(1.1);
            }
        }
    }

    img {
        height: 360px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#user_id {
    display: none;
}

.dash-card {
    margin-top: 40px;
}

// show
.doctor-card {
    margin-top: 30px;
    position: relative;
    padding: 40px;

    .doc-info {
        margin-bottom: 30px;
        margin-right: 100px;
        vertical-align: top;

        img {
            vertical-align: top;
        }

        .box {
            width: 310px;
            margin-left: 30px;
            margin-top: 20px;
        }
    }

    #specs {
        margin-bottom: 10px;

        h5 {
            margin-bottom: -2px;
        }
    }

    #mail {
        margin-top: -15px;
    }

    .card-text {
        margin: 2px 0;
        font-size: 14px;

        strong {
            font-size: 18px;
            margin-right: 5px;
        }
    }

    button i {
        margin-right: 5px;
    }

    .service-card {
        width: 370px;
        margin-bottom: 5px;

        &:hover {
            border-color: $maincolor;
        }
    }

    .review {
        .card {
            margin-bottom: 5px;

            .fa-star {
                color: orange;
            }
        }

        .card:hover {
            border-color: $maincolor;
        }
    }
}

.relative {
    position: relative;
}

.b-absolute-tr {
    position: absolute;
    top: 20px;
    right: 20px;
}

.b-absolute-tl {
    position: absolute;
    top: 20px;
    left: 20px;
}

// sponsorship
.sponsor-page {
    .title {
        padding: 0;
    }

    .button-none {
        padding-top: 20px;
    }

    #payment-form {
        margin: 15px 0;

        .spons-container {
            display: flex;
            flex-wrap: wrap;

            input {
                display: none;
            }

            label {
                cursor: pointer;
                display: inline-block;
                width: 200px;
                margin: 0 40px 50px 0;

                .sponsor-name {
                    font-size: 18px;
                }
            }

            label:hover {
                color: $maincolor;
                background: $maincolorrgba;
            }

            input:checked + label {
                color: $maincolor;
                font-weight: bold;
            }
        }

        section {
            width: 50%;
        }
    }
}

.message {
    width: 600px;
    margin-top: 20px;

    .msg-p {
        height: 20px;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: height 2s;
    }

    &:hover .msg-p {
        overflow: visible;
        white-space: unset;
        height: auto;
        min-height: 20px;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    i {
        color: $maincolor;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 25px;
    }

    .message-mail {
        margin-top: -10px;
    }

    button {
        width: 20%;
        text-align: center;
    }
}

// footer
footer {
    text-align: center;
    background: $maincolor;
    margin-top: 20px;
    padding: 20px 0;
    height: 10vh;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}
