// colors
$maincolor: #01c2a5;
$maincolorrgba: rgba(1, 194, 165, 0.1);
$deletecolor: #d0211c;

// utility classes
* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {

    &:hover {
        text-decoration: none;
    }
}

// tabella index
td {
    height: 150px;

    a {
    display: block;
    height: 100%;
    color: black;

        &:hover {
            color: black;
        }
    }
}

.layout {
    min-height: 100vh;

    > main {
        min-height: calc(78vh - 20px);
    }
}

.inline-b {
    display: inline-block;
}

.custom-h1 {
    color: $maincolor;
    margin-top: 20px;
    font-weight: bold;
}

.title {
    color: $maincolor;
    font-size: 26px;
    padding: 20px 0;
    font-weight: bold;
}

.user-image {
    border-radius: 50%;
    width: 150px;
}

.relative {
    position: relative;
}

.b-absolute-tr {
    position: absolute;
    top: 20px;
    right: 20px;
}

.b-absolute-tl {
    position: absolute;
    top: 20px;
    left: 20px;
}

#user_id {
    display: none;
}

.card {
    padding: 20px;
}

// buttons
.custom-button {
    margin: 5px 5px 5px 0;
    background: $maincolor;
    border: 2px solid $maincolor;
    font-size: 15px;
    color: #fff;

    a {
        color: #fff;
    }

    &:hover {
        color: $maincolor;
        background: #fff;
        font-weight: bold;


        a {
            color: $maincolor;
            font-weight: bold;
        }
    }
}

.button-none {
    border: none;
    background: none;
    margin-left: -10px;
    color: $maincolor;
    font-size: 16px;
    margin-right: 15px;

    a {
        color: $maincolor;
    }

    &:hover {
        font-weight: bold;
        transform: scale(1.2);
    }
}

.delete {
    background: $deletecolor;
    border-color: $deletecolor;

    &:hover {
        background: #fff;
        color: $deletecolor;
    }
}

// select
.custom-select {
    width: 320px;
    margin-left: 7px;

    option:hover {
        background: $maincolor;
        color: #fff;
    }
}

// navbar
#main-nav {
    background: $maincolor;
    color: #fff;
    box-shadow: none;
    height: 12vh;

    .navbar-brand {
        font-weight: bold;
        letter-spacing: 1px;
    }

    a {
        color: #fff;

        img {
            vertical-align: -14px;
            margin-right: 2px;
            width: 50px;
            border-radius: 50%;
        }
    }

    .nav-right {
        font-size: 18px;

        .nav-item-guest:hover,
        .nav-item-user:hover {
            font-weight: bold;
        }
    }

    #dropp {
        background: #fff;
        color: #000;

        &:hover {
            color: $maincolor;
            font-weight: bold;
        }
    }
}

// jumbotron
.jum {
    background: $maincolor;
    height: 380px;

    &-container {
        position: relative;
        height: 380px;
    }

    &-left {
        position: absolute;
        bottom: 120px;

        .jum-title {
            color: #fff;
            font-size: 30px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        select {
            cursor: pointer;
            display: inline-block;
            color: $maincolor;
            width: 80%;

            &:focus {
                color: $maincolor;
            }

            option:hover {
                background: $maincolor;
                color: #fff;
            }
        }

        .search {
            font-size: 19px;
            width: 17%;
            text-align: center;
            display: inline-block;

            &:hover {
                color: #fff;
                font-weight: bold;
                background-color: $maincolor;
                transform: scale(1.1);
            }
        }
    }

    img {
        height: 360px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

// homepage
.evidence-card {
    display: flex;
    flex-wrap: wrap;

    a {
        color: inherit;
        text-align: center;

        &:hover {
            text-decoration: none;
            color: $maincolor;
        }
    }

    .card {
        text-align: center;
        width: 205px;
        margin: 5px 10px 10px 0;
        min-height: 300px;
    }

    .doctor-name {
        margin: 30px 0 10px 0;
    }
}

// index
table {
    margin-top: 20px;
}

.img-col {
    width: 200px;
    text-align: center;
}

// dashboard
.all-services {
    display: flex;
    flex-wrap: wrap;

    .dash-services {
        width: 200px;
        margin: 5px 5px 0 0;
    
        &:hover {
            color: $maincolor;
            border-color: $maincolor;
        }
    }    
}

.dash-card {
    margin-top: 40px;

    .dash-info{
        width: 300px;
    }

    .dash-buttons{
        width: 250px;

        button{
            margin-bottom: 0;
            font-size: 12px;
            padding: 2px 5px;

            i{
                margin-right: 3px;
            }
        }
    }
}

.sponsor-check {
    color: $maincolor;
}

.logged {
    color: $maincolor;
    font-size: 10px;
    vertical-align: middle;
}

//edit
.edit-card{
    margin: 20px auto;
    width: 600px;

    .back{

        h1{
            font-size: 25px;
            margin-top: 0;
        }
    }

    .form{
        position: relative;

        .input-file{
            border: 1px solid #cfd5db;
            padding: 3px;
            border-radius: 5px

        }

        .scegli-file{
            padding: 1px 7px;
        }

        input{
            width: 500px;
        }

        select{
            width: 500px;

            option:hover{
                background-color: $maincolor;
                color: #fff;
            }
        }

        .modifica{
            text-align: right;
        }
    }

}

// show
.doctor-card {
    margin-top: 30px;
    position: relative;
    padding: 40px;

    .doc-info {
        margin-bottom: 30px;
        margin-right: 100px;
        vertical-align: top;

        img {
            vertical-align: top;
        }

        .box {
            width: 310px;
            margin-left: 30px;
            margin-top: 20px;
        }
    }

    #specs {
        margin-bottom: 10px;

        h5 {
            margin-bottom: -2px;
        }
    }

    #mail {
        margin-top: -15px;
    }

    .card-text {
        margin: 2px 0;
        font-size: 14px;

        strong {
            font-size: 18px;
            margin-right: 5px;
        }
    }

    button i {
        margin-right: 5px;
    }

    .service-card {
        width: 370px;
        margin-bottom: 5px;

        &:hover {
            border-color: $maincolor;
        }
    }

    .review {
        .card {
            margin-bottom: 5px;

            .fa-star {
                color: orange;
            }
        }

        .card:hover {
            border-color: $maincolor;
        }
    }
}

// sponsorship
.sponsor-page {
    #payment-form {
        margin: 15px 0;

        .form-content {
            width: 70%;
            margin: 0 auto;

            .text {
                margin: 10px 0 20px 0;
                font-size: 16px;
            }

            .spons-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                input {
                    display: none;
                }
    
                label {
                    cursor: pointer;
                    display: inline-block;
                    width: 30%;
    
                    .sponsor-name {
                        font-size: 18px;
                    }
                }
    
                label:hover {
                    color: $maincolor;
                    background: $maincolorrgba;
                    font-weight: bold;
                }
    
                input:checked + label {
                    color: $maincolor;
                    font-weight: bold;
                }
            }
    
            section {
                margin: 30px auto;
                width: 80%;
    
                .braintree-heading {
                    width: 100%;
                    text-align: center;
                }
            }

            button {
                display: block;
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

// message
.message {
    width: 600px;
    margin-top: 20px;

    .msg-p {
        height: 20px;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: height 2s;
    }

    &:hover .msg-p {
        overflow: visible;
        white-space: unset;
        height: auto;
        min-height: 20px;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    i {
        color: $maincolor;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 25px;
    }

    .message-mail {
        margin-top: 5px;
    }

    button {
        width: 20%;
        text-align: center;
    }
}

.prestazioni {
    height: 300px;
    overflow-y: scroll;
}

// footer
footer {
    text-align: center;
    background: $maincolor;
    margin-top: 20px;
    padding: 20px 0;
    height: 10vh;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}
